@media (min-width: 100px) and (max-width: 1000px) {
	.bidding_left_content {
		padding-left: 2%;
		padding-top: 5%;
	}
	.bidding_right_content {
		padding-right: 2%;
		padding-top: 5%;
	}
}

body
{
	margin: 0;
	padding: 0;
	color: #555;
	font: normal 10pt Arial,Helvetica,sans-serif;
	background: #EFEFEF;
}

#page
{
	margin-top: 5px;
	margin-bottom: 5px;
	background: white;
	border: 1px solid #C9E0ED;
}

#header
{
	margin: 0;
	padding: 0;
	/* border-top: 3px solid #C9E0ED; */
}

#content
{
    padding: 20px;
}

#sidebar
{
	padding: 20px 20px 20px 0;
}

#footer
{
	padding: 10px;
	margin: 10px 20px;
	font-size: 0.8em;
	text-align: center;
	/*border-top: 1px solid #C9E0ED;*/
	color: white;
}

#logo
{
	padding: 10px 20px;
	font-size: 200%;
}

#mainmenu
{
	background:white url(bg.gif) repeat-x left top;
}

#mainmenu ul
{
	padding:6px 20px 5px 20px;
	margin:0px;
}

#mainmenu ul li
{
	display: inline;
}

#mainmenu ul li a
{
	color:#ffffff;
	background-color:transparent;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	padding:5px 8px;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a
{
	color: #6399cd;
	background-color:#EFF4FA;
	text-decoration:none;
}

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.portlet
{

}

.portlet-decoration
{
	padding: 3px 8px;
	background: #B7D6E7;
	border-left: 5px solid #6FACCF;
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #298dcd;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background:#EFFDFF;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
}

.operations li a
{
	font: bold 12px Arial;
	color: #0066A4;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #0066A4;
}

.operations li a:hover
{
	background: #80CFFF;
}

#logo{
		padding:0px;
	}
#logo img{
	width:100%;
}

.profile_name {
    color: white;
    font-size: x-large;
    position: absolute;
    right: 5%;
    top: 5%;
}

@media (min-width: 1001px) and (max-width: 3000px) {
	.bidding_left_content {
		float: left;
		width: 45%;
		padding-left:2%;
		padding-top:5%;
	}
	.bidding_right_content {
		float: right;
		width: 45%;
		padding-right:2%;
		padding-top:5%;
	}
}

.img_bidding_right_content{
	float: left;
}

.left_content_1{
	border: 1.5px solid #d9d9d9;
    font-size: larger;
    font-weight: bold;
    height: 35px;
    padding-top: 15px;
    text-align: center;
}

.left_content_2 {
    background-color: grey;
    border: 1px solid white;
    color: white;
    font-size: medium;
    font-weight: bold;
    text-align: center;
}

.left_content_3 {
    background-color: #ff9966;
    color: white;
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
}

.left_content_4 {
    background-color: #fff2e5;
    color: grey;
    font-weight: 600;
    height: 22px;
    padding-left: 14px;
    padding-top: 6px;
}

.left_content_5 {
    padding-top: 15px;
}

.left_content_5 img{
	width: 100%
}


#input_token {
    font-size: large;
    height: 30px;
}

#input_token option {
    height: 30px;
}

.submit_btn{
	background-image: url("/alfa_scorpi/images/BID-Now-Button.png");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 110% auto;
    border-radius: 20px;
    height: 120px;
    width: 170px;
	cursor: pointer;
}

.label_insert_token {
    padding-left: 126px;
    padding-top: 20px;
    position: absolute;
	font-weight: bold;
}

.input_ro {
    font-size: large;
}
/* .even img {
    width: 300px;
}
.odd img {
    width: 300px;
} */

.grid-view table.items tr th {
    background: none repeat scroll 0 0 #ff0000;
}